@import "tailwindcss";

@theme {
  /* --color-primary: #F2E5BF;
  --color-secondary: #257180;
  --color-accent-1: #FD8B51;
  --color-accent-2: #CB6040; */

  --color-kansas-beige: #D6C3A8;
  --color-olive-green: #6E775C;
  --color-burnt-orange: #C75C36;
  --color-charcoal-gray: #2F2F2F;
  --color-warm-white: #FAF7F2;
  --color-sky-blue: #7FB3D5;
  

  --font-inter: 'Inter', sans-serif;
  --font-space: "Rubik", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  background: var(--color-kansas-beige);
  font-family: var(--font-inter);
  color: var(--color-charcoal-gray);
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
